@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 27px 0;
  background-color: #fff;
  z-index: 100;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
header nav .logo svg {
  fill: #063255;
}
header nav .nav_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
header nav .nav_items .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
header nav .nav_items .nav-items .item-link {
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  transition: 0.5s;
  position: relative;
}
header nav .nav_items .nav-items .item-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #344149;
  transition: 0.5s;
  bottom: -8px;
}
header nav .nav_items .nav-items .item-link:hover {
  color: #394149;
}
header nav .nav_items .nav-items .item-link:hover::before {
  width: 100%;
}
header nav .nav_items .nav-items .clone {
  border-radius: 31px;
  background: rgba(245, 138, 8, 0.102);
  color: #f58a07;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  padding: 17px 32px;
  transition: 0.5s;
}
header nav .nav_items .nav-items .clone:hover {
  background-color: #f58a07;
  color: #683c05;
}
header nav .nav_items .nav-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .nav_items .nav-btn #dark-light {
  background-color: transparent;
  cursor: pointer;
  border-radius: 44px;
  overflow: hidden;
  border: 0;
  /* Checked */
  /* Other States */
}
header nav .nav_items .nav-btn #dark-light .l {
  display: block;
  margin-bottom: 1.5em;
  font-size: 1em;
  cursor: pointer;
}
header nav .nav_items .nav-btn #dark-light .l {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
header nav .nav_items .nav-btn #dark-light .l:before,
header nav .nav_items .nav-btn #dark-light .l:after {
  content: "";
  display: block;
}
header nav .nav_items .nav-btn #dark-light .l:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}
header nav .nav_items .nav-btn #dark-light .l:after {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50%/50% 100%, repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50%/50% 100%, radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
  box-sizing: border-box;
}
header nav .nav_items .nav-btn #dark-light .l:checked {
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}
header nav .nav_items .nav-btn #dark-light .l:checked:before {
  background-color: currentColor;
  transform: translateX(125%);
}
header nav .nav_items .nav-btn #dark-light .l:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}
header nav .nav_items .nav-btn #dark-light .l:focus {
  /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
  outline: 0;
}
header nav .nav_items .nav-btn .burger_menu {
  display: none;
}

@media only screen and (max-width: 999px) {
  header nav .nav_items .nav-items {
    position: absolute;
    top: 100%;
    right: 0;
    width: 65vw;
    background-color: #ebf9f9;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  header nav .nav_items .nav-items a {
    font-size: 20px;
  }
  header nav .nav_items .nav-items a::before {
    top: -10px;
  }
  header nav .nav_items .nav-btn .burger_menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 28px;
    height: 24px;
    transition: all 0.5s ease-in-out;
  }
  header nav .nav_items .nav-btn .burger_menu span {
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
  }
  .open_menu header nav .nav_items .nav-items {
    transform: translateX(0);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu {
    transform: rotate(360deg);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu_top {
    position: absolute;
    transform: rotate(135deg);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu_center {
    position: absolute;
    transform: rotate(-135deg);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu_bottom {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  header nav .nav_items .nav-items {
    align-items: center;
    width: 100vw;
  }
}
footer {
  background: #063255;
  position: relative;
  margin-top: 20px;
}
footer .right {
  position: absolute;
  top: 38px;
  right: 0;
}
footer .left {
  margin-top: -400px;
  left: 0;
  bottom: 0;
}
footer .footer-content .footer__cards {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 45px;
  padding: 80px 0;
}
footer .footer-content .footer__cards .footer__card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
footer .footer-content .footer__cards .footer__card .svg a svg {
  fill: #fff;
}
footer .footer-content .footer__cards .footer__card h5 {
  max-width: 452px;
  color: #fff;
  /* H2 Heading */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  padding-top: 32px;
}
footer .footer-content .footer__cards .footer__card p {
  color: #fff;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  padding: 40px 0 28px;
}
footer .footer-content .footer__cards .footer__card a {
  color: #fff;
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
footer .footer-content .footer__cards .footer__card h6 {
  cursor: pointer;
  color: #fff;
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
footer .footer-content .footer__cards .footer__card h6 a {
  cursor: pointer;
  color: #fff;
  /* H6 Heading */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
@media only screen and (max-width: 999px) {
  footer {
    margin-top: 0px;
  }
  footer .footer-content .footer__cards {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 60px;
  }
  footer .footer-content .footer__cards .footer__card {
    width: 269px;
  }
  footer .footer-content .footer__cards .footer__card h5 {
    font-size: 28px;
    line-height: 48px;
  }
}

.blog-inner section:first-child {
  padding-top: 100px;
  border-radius: 12px;
}
.blog-inner section:first-child .images {
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 1300px;
}
.blog-inner section:first-child .images img {
  border-radius: 11%;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  transition: 0.6s;
}
.blog-inner section:first-child img:hover {
  scale: 1.21;
}
.blog-inner section:nth-child(2) .owner-info {
  padding-top: 60px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.blog-inner section:nth-child(2) .owner-info img {
  transition: 0.5s;
}
.blog-inner section:nth-child(2) .owner-info img:hover {
  transform: scale(2, 2);
}
.blog-inner section:nth-child(2) .owner-info p:nth-child(2) {
  padding-left: 15px;
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  opacity: 0.87;
}
.blog-inner section:nth-child(2) .owner-info p:nth-child(3) {
  padding-left: 30px;
  font-family: Poppins;
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  opacity: 0.87;
}
.blog-inner section:nth-child(2) .texts {
  padding-left: 230px;
  padding-right: 230px;
}
.blog-inner section:nth-child(2) .texts p:first-child {
  padding-top: 24px;
  color: #1d3444;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.92px;
}
.blog-inner section:nth-child(2) .texts p:nth-child(2) {
  padding-top: 32px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.blog-inner section:nth-child(2) .texts p:nth-child(3) {
  padding-top: 24px;
  color: #1d3444;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.blog-inner section:nth-child(2) .texts p:nth-child(4) {
  padding-top: 24px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.blog-inner section:nth-child(2) .texts p:nth-child(5) {
  padding-top: 48px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
}
.blog-inner section:nth-child(2) .texts p:nth-child(6) {
  padding-top: 24px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.blog-inner section:nth-child(2) .texts p:nth-child(7) {
  padding-top: 24px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  padding-bottom: 128px;
}

.dark .blog-inner section:nth-child(2) .owner-info p:nth-child(2) {
  color: #ffffff;
}
.dark .blog-inner section:nth-child(2) .owner-info p:nth-child(3) {
  color: #ffffff;
}
.dark .blog-inner section:nth-child(2) .texts p:first-child {
  color: #ffffff;
  letter-spacing: 1.08px;
}
.dark .blog-inner section:nth-child(2) .texts p:nth-child(2) {
  color: #ffffff;
}
.dark .blog-inner section:nth-child(2) .texts p:nth-child(3) {
  color: #ffffff;
}
.dark .blog-inner section:nth-child(2) .texts p:nth-child(4) {
  color: #ffffff;
}
.dark .blog-inner section:nth-child(2) .texts p:nth-child(5) {
  color: #ffffff;
  letter-spacing: 1.08px;
}
.dark .blog-inner section:nth-child(2) .texts p:nth-child(6) {
  color: #ffffff;
}
.dark .blog-inner section:nth-child(2) .texts p:nth-child(7) {
  color: #ffffff;
}

@media only screen and (max-width: 1100px) {
  .blog-inner section:first-child {
    padding-top: 100px;
  }
  .blog-inner section:first-child .images {
    max-width: 1300px;
  }
  .blog-inner section:first-child .images img {
    padding-left: 100px;
    padding-right: 100px;
  }
  .blog-inner section:first-child img:hover {
    scale: 1.21;
  }
  .blog-inner section:nth-child(2) .owner-info {
    padding-top: 60px;
  }
  .blog-inner section:nth-child(2) .owner-info p:nth-child(2) {
    padding-left: 15px;
  }
  .blog-inner section:nth-child(2) .owner-info p:nth-child(3) {
    padding-left: 30px;
  }
  .blog-inner section:nth-child(2) .texts {
    padding-left: 150px;
    padding-right: 150px;
  }
  .blog-inner section:nth-child(2) .texts p:first-child {
    padding-top: 24px;
    font-size: 64px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(2) {
    padding-top: 32px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(3) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(4) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(5) {
    padding-top: 48px;
    font-size: 48px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(6) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(7) {
    padding-top: 24px;
    padding-bottom: 128px;
  }
}
@media only screen and (max-width: 800px) {
  .blog-inner section:first-child {
    padding-top: 70px;
  }
  .blog-inner section:first-child .images {
    max-width: 1300px;
  }
  .blog-inner section:first-child .images img {
    padding-left: 50px;
    padding-right: 50px;
  }
  .blog-inner section:nth-child(2) .owner-info {
    padding-top: 60px;
  }
  .blog-inner section:nth-child(2) .owner-info p:nth-child(2) {
    padding-left: 15px;
  }
  .blog-inner section:nth-child(2) .owner-info p:nth-child(3) {
    padding-left: 30px;
  }
  .blog-inner section:nth-child(2) .texts {
    padding-left: 70px;
    padding-right: 70px;
  }
  .blog-inner section:nth-child(2) .texts p:first-child {
    padding-top: 24px;
    font-size: 48px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(2) {
    padding-top: 32px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(3) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(4) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(5) {
    padding-top: 48px;
    font-size: 36px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(6) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(7) {
    padding-top: 24px;
    padding-bottom: 128px;
  }
}
@media only screen and (max-width: 600px) {
  .blog-inner section:first-child {
    padding-top: 40px;
  }
  .blog-inner section:first-child .images {
    max-width: 1300px;
  }
  .blog-inner section:first-child .images img {
    padding-left: 10px;
    padding-right: 10px;
  }
  .blog-inner section:nth-child(2) .owner-info {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog-inner section:nth-child(2) .owner-info p:nth-child(2) {
    padding-left: 0px;
  }
  .blog-inner section:nth-child(2) .owner-info p:nth-child(3) {
    padding-left: 0px;
  }
  .blog-inner section:nth-child(2) .texts {
    padding-left: 0px;
    padding-right: 0px;
  }
  .blog-inner section:nth-child(2) .texts p:first-child {
    padding-top: 24px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(2) {
    padding-top: 32px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(3) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(4) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(5) {
    padding-top: 48px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(6) {
    padding-top: 24px;
  }
  .blog-inner section:nth-child(2) .texts p:nth-child(7) {
    padding-top: 24px;
    padding-bottom: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.Career-1_hero {
  padding-top: 100px;
}
.Career-1_hero .hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Career-1_hero .hero-content .texts {
  max-width: 618px;
}
.Career-1_hero .hero-content .texts h1 {
  max-width: 618px;
  color: #1d3444;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.92px;
}
.Career-1_hero .hero-content .texts p {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  padding: 24px 0;
}
.Career-1_hero .hero-content .texts button {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  text-transform: capitalize;
  border-radius: 27px;
  background: transparent;
  padding: 19px 32px;
  border: 2px solid #f58a07;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.Career-1_hero .hero-content .texts button a {
  text-decoration: none;
  color: #5b5b5b;
}
.Career-1_hero .hero-content .texts button span {
  height: 100%;
  width: 0;
  background-color: #f58a07;
  border-radius: 27px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.Career-1_hero .hero-content .texts button:hover {
  border: 2px solid transparent;
}
.Career-1_hero .hero-content .texts button:hover span {
  width: 100%;
  visibility: visible;
}
.Career-1_hero .hero-content .hero-img {
  height: 655px;
}
.Career-1_hero .hero-content .hero-img .hero-image {
  position: relative;
  background: url(../../images/Abubakir/hero-img.png) no-repeat;
  width: 612px;
  height: 100%;
  background-size: contain;
  border-radius: 30px;
  overflow: hidden;
}
.Career-1_hero .hero-content .hero-img .hero-image:hover .yellow {
  width: 30%;
  transition: 0.5s;
}
.Career-1_hero .hero-content .hero-img .hero-image .yellow {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22px 0px 0px 20px;
  background: #f58a07;
  mix-blend-mode: multiply;
  width: 0;
  height: 645px;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.Career-1_hero .hero-content .hero-img img {
  position: absolute;
  right: -1px;
  top: 70px;
}

.see {
  padding-top: 130px;
  padding-bottom: 128px;
}
.see .see-content h1 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
}
.see .see-content .cards {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.see .see-content .cards .card {
  width: 31%;
  border-radius: 20px;
  background: rgba(193, 228, 255, 0.3);
}
.see .see-content .cards .card h4 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
  padding: 32px 0px 8px 40px;
}
.see .see-content .cards .card h6 {
  padding: 0px 0px 32px 40px;
  color: #394149;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  opacity: 0.6;
}
.see .see-content .cards .card p {
  padding: 0px 0px 32px 40px;
  color: #f58a07;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.5%; /* 19.17px */
}
.see .see-content .cards .card p:hover {
  color: #feb863;
  transition: 0.3s;
}
.see .see-content .cards .card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s;
}

.latest {
  background: #dceaf5;
}
.latest .latest-content {
  padding-top: 96px;
  padding-bottom: 96px;
}
.latest .latest-content h1 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  text-transform: capitalize;
}
.latest .latest-content .cards {
  padding-top: 64px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
.latest .latest-content .cards .card {
  background-color: #fff;
  border-radius: 20px;
  background: #fff;
}
.latest .latest-content .cards .card img {
  width: 100%;
}
.latest .latest-content .cards .card .card-texts {
  max-width: 340px;
  padding: 32px 0px 32px 32px;
}
.latest .latest-content .cards .card .card-texts h4 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
  padding-bottom: 16px;
}
.latest .latest-content .cards .card .card-texts p {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  padding-bottom: 24px;
}
.latest .latest-content .cards .card .card-texts a {
  color: #f58a07;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.5%; /* 17.04px */
  text-decoration: none;
}
.latest .latest-content .cards .card .card-texts a:hover {
  color: #feb863;
  transition: 0.3s;
}
.latest .latest-content .cards .card .card-texts a:hover svg path {
  fill: #feb863;
}
.latest .latest-content .cards .card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s;
}

@media only screen and (max-width: 1270px) {
  .Career-1_hero .hero-content {
    justify-content: space-around;
    row-gap: 60px;
  }
  .Career-1_hero .hero-content .texts {
    text-align: center;
    max-width: none;
    width: 100%;
  }
  .Career-1_hero .hero-content .texts h1 {
    max-width: none;
  }
}
@media only screen and (max-width: 1024px) {
  .Career-1_hero .hero-content .texts h1 {
    font-size: 48px;
  }
  .see .see-content .cards {
    justify-content: space-evenly;
  }
  .see .see-content .cards .card {
    width: 44%;
  }
}
@media only screen and (max-width: 736px) {
  .Career-1_hero .hero-content .texts h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .Career-1_hero .hero-content .texts p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 620px) {
  .Career-1_hero .hero-content .hero-img {
    height: auto;
  }
  .Career-1_hero .hero-content .hero-img .hero-image {
    width: 400px;
    background-size: 100% 100%;
    height: 400px;
  }
  .see {
    padding-top: 50px;
  }
  .see .see-content h1 {
    font-size: 32px;
  }
  .see .see-content .cards .card {
    width: 64%;
  }
  .latest .latest-content h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 425px) {
  .Career-1_hero .hero-content .texts h1 {
    font-size: 24px;
  }
  .Career-1_hero .hero-content .texts p {
    font-size: 16px;
    line-height: 20px;
  }
  .Career-1_hero .hero-content .hero-img .hero-image {
    width: 300px;
    height: 300px;
  }
  .Career-1_hero .hero-content .hero-img .hero-image img {
    width: 70px;
  }
  .see {
    padding-bottom: 60px;
  }
  .see .see-content h1 {
    font-size: 26px;
  }
  .see .see-content .cards {
    padding-top: 32px;
  }
  .see .see-content .cards .card {
    width: 96%;
  }
  .latest .latest-content {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 350px) {
  .Career-1_hero .hero-content .texts h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .Career-1_hero .hero-content .texts p {
    font-size: 14px;
  }
  .Career-1_hero .hero-content .texts button {
    padding: 10px 22px;
    font-size: 12px;
  }
  .see .see-content .cards .card {
    width: 100%;
  }
}
.dark .Career-1_hero .hero-content .texts h1,
.dark .Career-1_hero .hero-content .texts p,
.dark .Career-1_hero .hero-content .texts button a {
  color: #cecbcb;
}
.dark .see .see-content h1 {
  color: #cecbcb;
}
.dark .see .see-content .cards .card {
  background-color: #5b5b5b;
}
.dark .see .see-content .cards .card:hover {
  box-shadow: rgb(82, 82, 82) 0px 10px 20px, rgb(82, 82, 82) 0px 6px 6px;
  transition: 0.4s;
}
.dark .see .see-content .cards .card h4,
.dark .see .see-content .cards .card h6 {
  color: #cecbcb;
}
.dark .latest {
  background-color: transparent;
}
.dark .latest .latest-content h1 {
  color: #cecbcb;
}
.dark .latest .latest-content .cards .card {
  background-color: #5b5b5b;
}
.dark .latest .latest-content .cards .card:hover {
  box-shadow: rgb(82, 82, 82) 0px 3px 20px, rgb(82, 82, 82) 0px 6px 6px;
  transition: 0.3s;
}
.dark .latest .latest-content .cards .card .card-texts h4,
.dark .latest .latest-content .cards .card .card-texts p {
  color: #cecbcb;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f58a07;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #feb863;
  transition: 0.5s;
}

.ibrohim-contact {
  position: relative;
  top: 108px;
  margin-left: 100px;
}
.ibrohim-contact .first {
  display: flex;
  position: relative;
}
.ibrohim-contact .third {
  position: relative;
  top: 20px;
  left: 180px;
}
.ibrohim-contact .fourth {
  position: relative;
  margin-left: 240px;
  top: 20px;
}
.ibrohim-contact .hh {
  width: 501px;
  color: #1d3444;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  letter-spacing: -1.44px;
}
.ibrohim-contact .p {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.ibrohim-contact .p1 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
}
.ibrohim-contact .inn {
  position: relative;
  left: -20px;
}
.ibrohim-contact input {
  padding-left: 40px;
  padding-top: -84px !important;
  margin-top: 32px;
  resize: none;
  width: 605px;
  height: 54px;
  flex-shrink: 0;
  border: none;
  border-style: none;
  background: #f9f9ff;
  outline: none;
  border-radius: 27px;
  background: rgba(210, 218, 237, 0.17);
}
.ibrohim-contact input:hover {
  background-color: #c0bcbc;
  transition: 0.7s;
  color: white;
}
.ibrohim-contact .inp {
  width: 605px;
  height: 160px;
  flex-shrink: 0;
  padding-left: 40px;
  padding-top: -84px !important;
  margin-top: 32px;
  resize: none;
  border: none;
  border-style: none;
  background: #f9f9ff;
  outline: none;
  border-radius: 27px;
  background: rgba(210, 218, 237, 0.17);
}
.ibrohim-contact .obshi {
  display: flex;
}
.ibrohim-contact iframe {
  position: relative;
  left: 50px;
  top: 35px;
  border-radius: 20px;
  height: 400px;
}
@media only screen and (max-width: 1200px) {
  .ibrohim-contact .ibrohim-contact iframe {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .ibrohim-contact .ifr {
    width: 500px;
  }
  .ibrohim-contact .third {
    position: relative;
    left: 105px;
  }
  .ibrohim-contact .fourth {
    position: relative;
    left: -130px;
  }
}
@media only screen and (max-width: 700px) {
  .ibrohim-contact .ifr {
    position: relative;
    top: 700px;
    left: -470px;
    width: 100%;
  }
  .ibrohim-contact .third {
    position: relative;
    top: 730px;
    left: -470px;
  }
  .ibrohim-contact .fourth {
    position: relative;
    top: 730px;
    left: -550px;
  }
  .ibrohim-contact .ibrohim-contact {
    position: relative;
    left: -50px;
  }
}
@media only screen and (max-width: 600px) {
  .ibrohim-contact .ibrohim-contact {
    position: relative;
    left: -100px;
  }
}

.ibrohim-privacy {
  position: relative;
  top: 108px;
}

.hh {
  position: relative;
  margin-left: 280px;
  width: 752px;
  color: #1d3444;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.92px;
}

.p {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  position: relative;
  top: 24px;
  margin-left: 280px;
}

.p1 {
  width: 752px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  position: relative;
  top: 48px;
  margin-left: 280px;
}

.p1:hover {
  background-color: #e1dede;
  transition: 0.7s;
  box-shadow: rgb(197, 193, 193) 5px 5px 4px;
}

.hh1 {
  width: 752px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
  position: relative;
  top: 70px;
  margin-left: 280px;
}

@media only screen and (max-width: 900px) {
  section {
    position: relative;
    right: 140px;
  }
}
@media only screen and (max-width: 830px) {
  section {
    position: relative;
    right: 250px;
  }
}
@media only screen and (max-width: 790px) {
  section {
    position: relative;
    left: -280px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 85px;
}

.dark {
  background-color: #333 !important;
}

.dark {
  color: #fff !important;
}

.dark .item-link {
  color: #fff !important;
}

.dark header {
  background: #555;
}

.dark header nav .logo svg {
  fill: #fff;
}

.dark footer {
  background-color: #555;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */